*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.container{
    background-color: rgb(221, 239, 246);
    padding: 5px 20px 15px 28px;
    border: 1px solid lightblue;
    border-radius: 4px;
}
h1{
    color: rgb(4, 163, 231);
}

input[type="text"],
input[type="email"]
input[type="number"]
input[type="password"]
input[type="date"]

select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px;
}

fieldset{
    background-color: #fff;
    border-radius: 4px;
}

.main_heading {
    text-align: center;
}

input[type="submit"]{
    background-color: rgb(30, 183, 191);
    color: rgb(13, 15, 15);
    padding: 12px 20px;
    border: rgb(127, 15, 15);
    border-radius: 5px;
    cursor:pointer ;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: rgb(8, 130, 130);
}